@tailwind base;
@tailwind components;
@tailwind utilities;

.heading{
    font-size: large;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Button{
    margin-top: -20px;
    text-align: center;
    transform: rotateZ(-10deg);
}
.Button2{
    margin-top: -20px;
    text-align: center;
    transform: rotateZ(10deg);
}
.skill{
    text-align: center;
    font-weight: 600;
    ;
}